.section {
  --section-width: min(var(--static-width-1024), 100%);
  --section-gap: clamp(
    calc(var(--static-space-24) + var(--static-space-4)),
    3.5vw,
    var(--static-space-40)
  );

  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  max-width: var(--section-width);
}

.sectionWide {
  --section-width: min(
    calc(var(--static-width-1200) + var(--static-space-160)),
    100%
  );
  --section-gap: clamp(var(--static-space-32), 3.5vw, var(--static-space-56));
}

.sectionFluid {
  --section-width: 100%;
  --section-gap: clamp(var(--static-space-28), 3vw, var(--static-space-56));
}

.sectionCompact {
  --section-width: min(
    calc(var(--static-width-1024) - var(--static-space-64)),
    100%
  );
  --section-gap: clamp(
    var(--static-space-24),
    3vw,
    calc(var(--static-space-32) + var(--static-space-4))
  );
}
